.motion-bundler.rb
.dat*
.repl_history
build
tags
*/resources/*.nib
*/resources/*.momd
*/resources/*.xcdatamodeld
*/resources/*.storyboardc
.DS_Store
nbproject
.redcar
#*#
*~
*.sw[po]
.eprj
.sass-cache
.idea
*/vendor/Pods
*.strings
*/.bundle/*
*/vendor/*/build-*
vendor/*/build-*
vendor/Pods
.rbenv-gemsets
.mp4
*.mp4
/DerivedData
/build
/vendor/build
/vendor/Pods
/.repl_history
/.DS_Store
/vendor/phidget22/build-MacOSX
/.DS_Store~45042184523e5c75c129f84f6d0e704f9c5e46da
